<h1>Story</h1>
<form [formGroup]="this.storyForm" (submit)="onSubmit()">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="task"
      placeholder="task name"
      formControlName="title"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="storyForm.invalid">
    Save
  </button>
</form>
<h3>List of stories:</h3>
<!-- <button (click)="changeTitle('first story')">change title</button> -->
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-fairytale [title]="title | async"></app-fairytale>
    </div>
    <div class="col-md-6">
      <app-language [language]="language | async"></app-language>
    </div>
  </div>
</div>
